@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.canva-page {
  width: 80%;
  margin: auto;
  height: 600px;
  display: block;
  margin-top: 10px;
}
